#import-ap-xlsx {
    display: inline;
    padding-right: 5px;
}

.icon-bt {
    cursor: pointer;
}

.icon-terminal {
    color: white; 
    background-color: rgb(26, 25, 25); 
    padding: 2px;
    border-radius: 3px;
}

.table-fixed thead th {
    position: sticky;
    top: -5px;
}
.table-fixed td {
    vertical-align: middle;
}